---
# ------------------------------------------------------------------------------------------
oinkcode: 
ip: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
# ------------------------------------------------------------------------------------------
zabbix_server_dns: 
zabbix_server_ip: 
# ------------------------------------------------------------------------------------------